body {
  background: papayawhip;
}
.container{
  display: flex;
  min-height: 100vh;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 1em;
}

.container2{
  display: flex;
  gap: 1em;
  justify-content: space-between;
  flex-wrap: wrap;
  
}

.a{
  background-color: pink;
  width: 100%;
  height: 8em;
}
.b{
  background-color: pink;
  width:100%;
  height: 20em;
}

.c{
  background-color: pink;
  width: 11em;
  height: 11em;
}

.d{
  background-color: pink;
  width: 11em;
  height: 11em;
}

.e{
  background-color: pink;
  width: 11em;
  height: 11em;
}

.f{
  background-color: pink;
  width: 100%;
  height: 8em;
}

@media(min-width: 700px){
  .container{

  }
}

