body {
  background: papayawhip;
}
.container{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  

}
.a{
  background-color: pink;
  min-height: 20vh;
  flex-grow:2;
}

.b{
  background-color: palevioletred;
  min-height: 40vh;
 
}

.c{
  background-color:mediumorchid;
  min-height:20vh;
  max-width: 20vh;
}

.d{
  background-color:mediumorchid;
  min-height:20vh;
  max-width: 20vh;
}
