body {
  background: papayawhip;
}
.container{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  

}
.a{
  background-color: pink;
  min-height: 20vh;
  flex-grow:2;
}

.b{
  background-color: palevioletred;
  min-height: 40vh;
 
}

.c ,.d ,.e{ 
  display: flex;
  background-color:mediumorchid;
  flex: 1 auto;
  flex-wrap: wrap;
}